<div *ngIf="editMode">
    <project-file-manipulation [projectFile]="projectFile" (projectFileUpdated)="updateFile($event)">
    </project-file-manipulation>
    <div *ngIf="imageBinary | async">
        <div class="btn btn-lg btn-success" (click)="uploadFile()">Upload</div>
        <div class="btn btn-lg btn-danger" (click)="delete()">Delete</div>
    </div>
</div>
<div class="image-holder">
    <div class="image-container"
         *ngIf="imageBinary | async">
        <img [src]="imageBinary | async" alt="SOME IMAGE"/>
    </div>
</div>
